<!DOCTYPE hyml>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Oww.com</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  <link rel="stylesheet" href="/assets/home.css">
</head>
<body>
  <header>
    <div class="has-text-centered">
    <img src="assets/images/MaoMeat.png" alt="" width="15%" height"auto">
    </div>
    <div class="text-align-center">
    <nav class="navbar-tabs">
      <a href="#" class="navbar-item is-size-3">เมา</a>
      <a href="#" class="navbar-item is-size-3">เนื้อ</a>
      <a href="#" class="navbar-item is-size-3">ลูก</a>
      <a href="#" class="navbar-item is-size-3">หมา</a>
      <a href="#" class="navbar-item is-size-3">ป่า</a>
      <a href="#" class="navbar-item is-size-3">ครับ</a>
      <a href="https://www.youtube.com/channel/UCJNEFwCpGij2QRg-kkph50A" class="navbar-item is-size-3">โอ๊วววว</a>
      <a href="https://www.facebook.com/MixBlasterGESTV" class="navbar-item is-size-3 has-text-danger">♥</a>
    </nav>

  </div>
  </header>
  <main>
    <section class="banner">
      <div class="highlight">
        <div class="columns">
          <div class="column highlight-item ">
            <div class="has-text-weight-bold">
            <h1>It's Over 9000!!!</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="thumbnail">
        <div class="columns is-marginless">

        <div class="column thumbnail-item is-paddingless has-text-centered"
        style="background-image: url(assets/images/home/banner/thumbnail-1.jpg);">
        Hodor.
      </div>

        <div class="column thumbnail-item is-paddingless has-text-centered"
        style="background-image: url(assets/images/home/banner/thumbnail-2.jpg);">
        Hodor.
        </div>


        <div class="column thumbnail-item is-paddingless has-text-centered"
        style="background-image: url(assets/images/home/banner/thumbnail-3.jpg);">
        Hodor.
        </div>

        <div class="column thumbnail-item is-paddingless has-text-centered"
        style="background-image: url(assets/images/home/banner/thumbnail-4.jpg);">
        Hodor.
        </div>
      </div>
</div>
    </section>
    <section class="section we-present"
    <div class="container">
      <div class="column">
        <div class="column has-text-left">
        <a href="#">LASTEST</a>
      </div>
      <div class="column has-text-centered is-size-1">
        ที่นี่ เราขายปืน
      </div>
      <div class="column has-text-right">
      <a href="https://www.google.co.th./">SEARCH</a>
    </div>
  </div>
  <div class="columns is-multiline">
<a href="#" class="column is-one-third">
  <div class="card">
    <div class="card-image">
      <figure class="image is-3by2">
        <img src="assets/images/weapon_awp_sp_mesh_tan_light_large.3608cbeb9bb163bfd2becb4ebcce2576b9ca78d9.png" alt="image-1">
      </figure>
    </div>
    <div class="card-content">
      <h5 class="category">Safari Mesh</h5>
<p>
AWP
</p>
</div>
</div>
</a>
<a href="#" class="column is-one-third">
  <div class="card">
    <div class="card-image">
      <figure class="image is-3by2">
        <img src="assets/images/weapon_awp_cu_awp_mastery_light_large.617e335043f250cdb9d6a4c798e075be9560cdd4.png" alt="image-1">
      </figure>
    </div>
    <div class="card-content">
      <h5 class="category">Elite Build</h5>
<p>
AWP
</p>
</div>
</div>
</a>
<a href="#" class="column is-one-third">
  <div class="card">
    <div class="card-image">
      <figure class="image is-3by2">
        <img src="assets/images/weapon_awp_hy_blam_simple_light_large.ed114947481e0366b2cde092a8ddac4d7250775b.png" alt="image-1">
      </figure>
    </div>
    <div class="card-content">
      <h5 class="category">Boom</h5>
<p>
AWP
</p>
</div>
</div>
</a>
<a href="#" class="column is-one-third">
  <div class="card">
    <div class="card-image">
      <figure class="image is-3by2">
        <img src="assets/images/weapon_awp_cu_awp_asimov_light_large.32d9045f8a2bcd13ca18390cc9fd82026e7195ab.png" alt="image-1">
      </figure>
    </div>
    <div class="card-content">
      <h5 class="category">Asiimov</h5>
<p>
AWP
</p>
</div>
</div>
</a>
<a href="#" class="column is-one-third">
  <div class="card">
    <div class="card-image">
      <figure class="image is-3by2">
        <img src="assets/images/weapon_awp_cu_medusa_awp_light_large.05c6f5c67a2fbf7d042637568ba2ab25e44bb08c.png" alt="image-1">
      </figure>
    </div>
    <div class="card-content">
      <h5 class="category">Medusa</h5>
<p>
AWP
</p>
</div>
</div>
</a>
<a href="#" class="column is-one-third">
  <div class="card">
    <div class="card-image">
      <figure class="image is-3by2">
        <img src="assets/images/weapon_awp_cu_medieval_dragon_awp_light_large.cb3b8168e59e96fd33efa9578206a2aaed036fc0.png" alt="image-1">
      </figure>
    </div>
    <div class="card-content">
      <h5 class="category">Dragon Lore</h5>
<p>
AWP
</p>
</div>
</div>
</a>
</div>
</section>
  </main>
</body>
</html>
